#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

/* начальное состояние при добавлении */
.post-enter {
  transform: translateX(-350px);
  opacity: 0;
}

/* активное состояние при добавлении */
.post-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}

/* начальное состояние при удалении */
.post-exit {
  transform: translateX(0);
  opacity: 1;
}

/* активное состояние при удалении */
.post-exit-active {
  transform: translateX(-350px);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
